<a href="https://colab.research.google.com/github/BoHye0202/Kaggle/blob/main/Template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 전처리

## 캐글 데이터 불러오기

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"choibohye","key":"b82e31a50310da16da34248c963dfa0b"}'}

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/kaggle.json

#permission warning 방지
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
# !kaggle competitions list

# 데이터 API 주소
!kaggle datasets download -d harlfoxem/housesalesprediction

In [ ]:
# zip 해제
!unzip housesalesprediction.zip

Archive:  housesalesprediction.zip
  inflating: kc_house_data.csv

## 데이터 분석

In [ ]:
import pandas as pd
url = 'kc_house_data.csv'

In [ ]:
df = pd.read_csv(url)
df.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

### Profiling

In [1]:
# !pip install -U pandas-profiling

In [ ]:
import pandas_profiling
df.profile_report() # 바로 결과보기

## HTML 파일로 저장
# pr = df.profile_report()
# pr.to_file('./pr_report.html')

In [ ]:
df.describe()

In [ ]:
df.info() # date가 object로 되어있음

### Data 수정
- 결측치 채우기 또는 제거
- 특정 컬럼의 형태 변경
- 불필요한 컬럼 제거

### New Feature

### Target 시각화
- 종속변수 - 독립변수의 시각화
- Target의 시각화

## 데이터 탐색
- Chi-Square: Categorical
- T-Test: Numerical

**Pearson 상관계수를 통한 Feature 관계 확인**

**Outlier 확인**

## 차원축소 (Feature Selection)

## 차원축소 (PCA)