<a href="https://colab.research.google.com/github/BoHye0202/Kaggle/blob/main/Template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 캐글 데이터 불러오기

In [1]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"choibohye","key":"b82e31a50310da16da34248c963dfa0b"}'}

In [2]:
ls -lha kaggle.json

-rw-r--r-- 1 root root 65 Jan 29 14:00 kaggle.json

In [3]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/kaggle.json

#permission warning 방지
!chmod 600 ~/.kaggle/kaggle.json

In [4]:
ls

kaggle.json  sample_data/

In [5]:
!kaggle competitions list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
ref                                            deadline             category            reward  teamCount  userHasEntered
---------------------------------------------  -------------------  ---------------  ---------  ---------  --------------
contradictory-my-dear-watson                   2030-07-01 23:59:00  Getting Started     Prizes         85           False
gan-getting-started                            2030-07-01 23:59:00  Getting Started     Prizes        142           False
tpu-getting-started                            2030-06-03 23:59:00  Getting Started  Knowledge        347           False
digit-recognizer                               2030-01-01 00:00:00  Getting Started  Knowledge       2139           False
titanic                                        2030-01-01 00:00:00  Getting Started  Knowledge      16476            True
house-prices-advanced-regression-techniques    2030-01-01 00:00:00  Getting Started  Knowledge       4586            True
connectx                                       2030-01-01 00:00:00  Getting Started  Knowledge        373           False
nlp-getting-started                            2030-01-01 00:00:00  Getting Started  Knowledge       1140           False
competitive-data-science-predict-future-sales  2022-12-31 23:59:00  Playground           Kudos      10235           False
hungry-geese                                   2021-07-26 23:59:00  Playground          Prizes         92           False
indoor-location-navigation                     2021-05-17 23:59:00  Research           $10,000         29           False
hpa-single-cell-image-classification           2021-04-27 23:59:00  Featured           $25,000         24           False
vinbigdata-chest-xray-abnormalities-detection  2021-03-30 23:59:00  Featured           $50,000        430           False
hubmap-kidney-segmentation                     2021-03-25 23:59:00  Research           $60,000        935           False
ranzcr-clip-catheter-line-classification       2021-03-15 23:59:00  Featured           $50,000        629           False
jane-street-market-prediction                  2021-02-22 23:59:00  Featured          $100,000       3279           False
cassava-leaf-disease-classification            2021-02-18 23:59:00  Research           $18,000       3260           False
rfcx-species-audio-detection                   2021-02-17 23:59:00  Research           $15,000        980           False
acea-water-prediction                          2021-02-17 23:59:00  Analytics          $25,000          0           False
santa-2020                                     2021-02-01 23:59:00  Featured            Prizes        785           False

In [7]:
!kaggle datasets download -d harlfoxem/housesalesprediction

Downloading housesalesprediction.zip to /content
  0% 0.00/780k [00:00<?, ?B/s]
100% 780k/780k [00:00<00:00, 53.3MB/s]

In [9]:
!ls

housesalesprediction.zip  kaggle.json  sample_data

In [10]:
!unzip housesalesprediction.zip

Archive:  housesalesprediction.zip
  inflating: kc_house_data.csv

# 데이터 불러오기

In [13]:
import pandas as pd
url = 'kc_house_data.csv'

In [14]:
df = pd.read_csv(url)
df.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

# 데이터 전처리 & EDA

## 데이터 탐색
- Missing Data
- Feature 분석

In [17]:
df.info() # date가 object로 되어있음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [16]:
df.describe()

                 id         price  ...  sqft_living15     sqft_lot15
count  2.161300e+04  2.161300e+04  ...   21613.000000   21613.000000
mean   4.580302e+09  5.400881e+05  ...    1986.552492   12768.455652
std    2.876566e+09  3.671272e+05  ...     685.391304   27304.179631
min    1.000102e+06  7.500000e+04  ...     399.000000     651.000000
25%    2.123049e+09  3.219500e+05  ...    1490.000000    5100.000000
50%    3.904930e+09  4.500000e+05  ...    1840.000000    7620.000000
75%    7.308900e+09  6.450000e+05  ...    2360.000000   10083.000000
max    9.900000e+09  7.700000e+06  ...    6210.000000  871200.000000

[8 rows x 20 columns]

**Missing Data**
- 결측치가 없다

In [18]:
df.isnull().sum() # 결측치가 없다

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

## 데이터 탐색
- Chi-Square: Categorical
- T-Test: Numerical

**Pearson 상관계수를 통한 Feature 관계 확인**

**Outlier 확인**

## 차원축소 (Feature Selection)

## 차원축소 (PCA)